---
import BlogCard from "@components/BlogCard.astro";
import BlogBase from "@layouts/BlogBase.astro";

import { getCollection } from "astro:content";

const collection = (await getCollection("blog")).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<BlogBase
	title="blog"
	description="👽👽👽"
	fragments={[{ path: "/blog", content: "blog" }]}
>
	<main>
		{
			collection.map(entry => {
				return <BlogCard {...entry} />;
			})
		}
	</main>
</BlogBase>
<style>
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--hn-sys-shape-large);
		min-width: min(900px, 100%);
		max-width: 900px;
	}

	@media (max-width: 900px) {
		main {
			grid-template-columns: 1fr;
		}
	}
</style>
