---
import Main from "@layouts/Main.astro";

import Card from "@components/Card.astro";
import MembersCard from "@components/MembersCard.astro";
---

<Main title="hood network" description="👽👽👽">
    <Card title="what?">
        <p>
            we make <a href="https://docs.discord.food/">userdoccers</a> and cause
            discord engineers unpaid overtime.
        </p>
    </Card>

    <MembersCard />

    <a href="/static/hn_88x31.gif" class="hn_88x31">
        <img
            title="hood network 88x31"
            src="/static/hn_88x31.gif"
        >
    </a>
</Main>

<style>
    .hn_88x31 {
        display: flex;
        align-items: center;
    }
</style>
