---
import Main from "@layouts/Main.astro";

import Card from "@components/Card.astro";
import MembersCard from "@components/MembersCard.astro";
---

<Main title="hood network" description="👽👽👽">
    <Card title="what?">
        <p>
            we make <a href="https://docs.discord.food/">userdoccers</a> and cause
            discord engineers unpaid overtime.
        </p>
    </Card>

    <MembersCard />
</Main>
