---
interface Props {
    title: string;
    children: any;
}

const { title } = Astro.props;
---

<div class="card-wrapper">
    <div class="card">
        <slot name="pre-section" />

        <div class="section">
            <h1>{title}</h1>

            <slot />
        </div>
    </div>
</div>
<style>
    .card,
    .card-wrapper {
        width: 100%;
        overflow: hidden;
    }

    .card-wrapper {
        border-radius: 8px;
        background: var(--hn-sys-grad-card);
        padding: 1px;
    }

    .card {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 10px;
        border-radius: inherit;
        background-color: var(--hn-sys-color-accent);
        padding: 24px;
    }

    .section {
        position: relative;
    }

    .section > h1 {
        margin: 0;
        font-family: var(--hn-ref-font-brand);
    }
</style>
