---
import { type CollectionEntry, getEntries } from "astro:content";

import BlogBase from "@layouts/BlogBase.astro";

import Author from "@components/Author.astro";

type Props = CollectionEntry<"blog">;

const {
    id,
    data: { title, description, authors },
} = Astro.props;

const authorEntries = await getEntries(authors);
const authorList = authorEntries.map(a => a.data);
---

<BlogBase
    title={title}
    description={description}
    fragments={[
        {
            path: "/blog",
            content: "blog",
        },
        {
            path: `/blog/${id}`,
            content: id,
        },
    ]}
>
    <main>
        <div class="pre-content">
            <h1>{title}</h1>
            <span
                >written by {
                    authorList.map(author => {
                        return <Author {...author} />;
                    })
                }
            </span>
        </div>

        <article>
            <slot />
        </article>
    </main>
</BlogBase>

<style>
    main {
        max-width: 900px;
        width: 100%;
    }

    .pre-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 2em;
    }

    .pre-content h1 {
        margin: 0;
    }

    .pre-content span {
        display: flex;
        align-items: center;
        gap: 10px;
    }
</style>
<style is:global>
    article h1 {
        font-size: 2em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1em 0;
    }

    a[data-wraps="heading"] {
        color: inherit;
        text-decoration: none;
    }

    hr {
        border: 0;
        border-top: 1px solid var(--hn-sys-color-outline-variant);
        width: 100%;
        height: 1px;
        margin: 1em 0;
        padding: 0;
        display: block;
    }

    ol,
    ul {
        padding-left: 2em;
    }

    ul.contains-task-list {
        list-style-type: none;
        padding-left: 1em;
    }

    li.task-list-item > input[type="checkbox"] {
        display: inline-block;
        margin-right: 0.5em;
        translate: 0 -2px;
        width: 1em;
        height: 1em;
        border-radius: 2px;
        vertical-align: middle;
    }

    img {
        max-width: 100%;
    }

    p {
        margin: 1em 0;
    }

    code[data-code="inline"] {
        padding: 0.25em 0.5em;
        border-radius: 0.5em;
        background-color: var(--hn-sys-color-accent);
        border: 1px solid var(--hn-sys-color-outline);
    }

    pre {
        box-sizing: border-box;
        margin: 1em 0;
        padding: 1em;
        width: 100%;
        border-radius: 0.5em;
        background-color: var(--hn-sys-color-accent) !important;
        border: 1px solid var(--hn-sys-color-outline);
    }

    blockquote {
        padding-left: 1em;
        border-left: 4px solid var(--hn-sys-color-on-background);
    }

    div[data-wraps="table"] {
        margin: 1em 0;
        min-width: 100%;
        width: 100%;
        border-radius: 0.5em;
        border: 1px solid var(--hn-sys-color-outline);
        overflow-x: auto;
        scrollbar-width: thin;
    }

    table {
        width: 100%;
        min-width: fit-content;
        border-collapse: collapse;
    }

    table thead {
        background-color: var(--hn-sys-color-surface-variant);
    }

    table thead > tr:first-child {
        border: none;
    }

    table tr {
        border-top: 1px solid var(--hn-sys-color-outline);
    }

    table th:first-child,
    table td:first-child {
        border: none;
    }

    table th,
    table td {
        border-left: 1px solid var(--hn-sys-color-outline);
        padding: 1em;
    }
</style>
